#!/bin/sh
xinput --set-prop "ETPS/2 Elantech TrackPoint" "libinput Scrolling Pixel Distance" 25 #higher = lower speed
xinput --set-prop "ETPS/2 Elantech TrackPoint" "libinput Accel Speed" -0.3
xinput --set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1 # 1 is inverse (natural) scrolling
xinput --set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 
xinput --set-prop "ETPS/2 Elantech Touchpad" "libinput Scrolling Pixel Distance" 25 # higher = lower speed

